/* index.html의 style 태그 내용을 외부 CSS로 옮김 */
body {
	font-family: "Inter", sans-serif; /* Google Fonts Inter 적용 */
	background-color: #3e7dbb; /* index.html의 원래 배경색 */
	color: #003885; /* index.html의 원래 텍스트색 */
	margin: 0;
	padding: 0;
	/* 스크롤바 숨기기 (선택 사항) */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
	display: none; /* Webkit (Chrome, Safari) */
}

h1,
h2 {
	background-color: MediumSeaGreen;
}
